<div class="jumbotron">
  <h1>Word Frequency Counter</h1>
  <h2>Results for your search</h2>
</div>
<div id="resultsHeader">Your word "<%= @searchTerm %>" occurs <%= @result %> time(s) within the text.
  <br>
  <a href="/"><button type="button" class="btn btn-primary" id="buttonFormat">Play again</button></a>
  <br>
  <p style="font-family:italic">A message from our sponsors:</p>
  <img src="img/words.gif" alt="word gif" id="pic">
</div>
