.jumbotron {
  background-color: #1E60AC;
  color: white;
}

body {
  background-image: url("../img/geolocationmethod.jpg");
  background-color: #cccccc;
}

.container {
  background-color: white;
}

#stringInput {
  height: 300px;
  margin-bottom: 30px;
}

#buttonFormat {
  height: 60px;
  width: 150px;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.formBorder {
  border-style: solid;
  border-width: 10px;
  width: 600px;
  position:relative;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.textAlign {
  text-align: center;
  font-size: 20px;
}

#resultsHeader {
  text-align: center;
  text-shadow: 5px;
  font-size: 30px;
  font-family: 'Slabo 27px', serif;
}

#pic {
  width: 350px;
  margin-top: 5px;
}
